<div class="row">
    <h1 id="color_verde">Habilidades</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circle-progress">
        <circle-progress

            [percent]="70"
            [radius]="100"
            [imageHeight]="80"
            [imageWidth]="80"
            [innerStrokeWidth]="0"
            [showUnits]="true"
            [unitsColor]="'rgb(52,233,142)'"
            [title]="'70'"
            [titleColor]="'rgb(52,233,142)'"
            [titleFontSize]="'20px'"
            [showSubtitle]="true"
            [subtitleFontSize]="'30'"
            [subtitle]="'HTML'"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'rgb(52,233,142)'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="800"
            [backgroundColor]="'rgb(49, 47, 47)'"
            [backgroundPadding]="-20"
            [responsive]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circle-progress">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="true"
        [unitsColor]="'rgb(52,233,142)'"
        [title]="'65'"
        [titleColor]="'rgb(52,233,142)'"
        [titleFontSize]="'20px'"
        [showSubtitle]="true"
        [subtitleFontSize]="'30'"
        [subtitle]="'CSS'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(52,233,142)'"
        [innerStrokeColor]="'white'"
        [innerStrokeWidth]="2"
        [animation]="true"
        [animationDuration]="800"
        [backgroundColor]="'rgb(49, 47, 47)'"
        [backgroundPadding]="-20"
        [responsive]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circle-progress">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="true"
        [unitsColor]="'rgb(52,233,142)'"
        [title]="'50'"
        [titleColor]="'rgb(52,233,142)'"
        [titleFontSize]="'20px'"
        [showSubtitle]="true"
        [subtitleFontSize]="'30'"
        [subtitle]="'MySQL'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(52,233,142)'"
        [innerStrokeColor]="'white'"
        [innerStrokeWidth]="2"
        [animation]="true"
        [animationDuration]="800"
        [backgroundColor]="'rgb(49, 47, 47)'"
        [backgroundPadding]="-20"
        [responsive]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circle-progress">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="true"
        [unitsColor]="'rgb(52,233,142)'"
        [title]="'40'"
        [titleColor]="'rgb(52,233,142)'"
        [titleFontSize]="'20px'"
        [showSubtitle]="true"
        [subtitleFontSize]="'30'"
        [subtitle]="'JS'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(52,233,142)'"
        [innerStrokeColor]="'white'"
        [innerStrokeWidth]="2"
        [animation]="true"
        [animationDuration]="800"
        [backgroundColor]="'rgb(49, 47, 47)'"
        [backgroundPadding]="-20"
        [responsive]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circle-progress">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="true"
        [unitsColor]="'rgb(52,233,142)'"
        [title]="'40'"
        [titleColor]="'rgb(52,233,142)'"
        [titleFontSize]="'20px'"
        [showSubtitle]="true"
        [subtitleFontSize]="'30'"
        [subtitle]="'Angular'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(52,233,142)'"
        [innerStrokeColor]="'white'"
        [innerStrokeWidth]="2"
        [animation]="true"
        [animationDuration]="800"
        [backgroundColor]="'rgb(49, 47, 47)'"
        [backgroundPadding]="-20"
        [responsive]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circle-progress">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="true"
        [unitsColor]="'rgb(52,233,142)'"
        [title]="'70'"
        [titleColor]="'rgb(52,233,142)'"
        [titleFontSize]="'20px'"
        [showSubtitle]="true"
        [subtitleFontSize]="'30'"
        [subtitle]="'GitHub'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(52,233,142)'"
        [innerStrokeColor]="'white'"
        [innerStrokeWidth]="2"
        [animation]="true"
        [animationDuration]="800"
        [backgroundColor]="'rgb(49, 47, 47)'"
        [backgroundPadding]="-20"
        [responsive]="true"
        ></circle-progress>
    </div>
    
    
</div>
