
.row{
    padding: 20px;
    background: rgb(49, 47, 47);


}


div{
    
    text-align: center;
    margin: auto;
    
}


@media (min-width:576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 20%;
        box-shadow:0px 0px 14px 5px rgb(59, 233, 142);
        left: 2%;
        top: 600px;
    }
}

@media (max-width:575px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 20%;
        box-shadow:0px 0px 14px 5px rgb(59, 233, 142);
        left: 42%;
        top: 615px;
        
    }
    .ajuste{
        margin-top: 100px;
    }
}



@media (max-width:349px){
    #fotodeperfil{
        position: absolute;
        width: 40%;
        border-radius: 20%;
        box-shadow:0px 0px 14px 5px rgb(59, 233, 142);
        left: 2%;
        top: 600px;
    }
    .ajuste{
        margin-top: 500px;
    }
}

.nombre{
    margin-top: 30px;
    
}






