
  <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
    <div class="login-form">
      <p class="login-text">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-lock fa-stack-1x"></i>
        </span>
      </p>

      <input type="email" id="nombreUsuario" name="nombreUsuario" class="login-username form-comtrol form-comtrol-lg " [(ngModel)]="nombreUsuario" required autofocus="true" required="true" placeholder="User" />
      <input type="password" id="password" class="login-password form-comtrol form-comtrol-lg"  [(ngModel)]="password" name="password" required required="true" placeholder="Password" />
      <input type="submit" name="Login" value="Login" class="login-submit" />
    </div>
  </form>
  <a href="#" class="login-forgot-pass">Has olvidado tu contraseña?</a>
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div>
