<div class="row">
    <h1 id="color_verde">Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1 id=color_verde>Portfolio Personal</h1>
            <p id="letraBlancoOscuro">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae vitae in dicta labore? Voluptates repellat distinctio, ea eos esse expedita molestiae possimus ullam omnis odit commodi rem? Tempora, aliquid ullam!</p>
        </div>
        
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
            <img src="../../../assets/portfolioP.PNG" class="img-fluid img-proyecto">
        </div>
    </div>

</div>