<div class="row">
    <h1 id="color_verde">Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li id="color_verde">
                <h1>Trabajo</h1> - <h3>(years)</h3>
            </li>
            <p id="letraBlancoOscuro">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita pariatur minus quaerat. Ab facilis recusandae excepturi quia. Dolor ex dolore pariatur iusto architecto nesciunt, obcaecati numquam quaerat placeat aspernatur temporibus!
            </p>
        </ul>
        <ul>
            <li id="color_verde">
                <h1>Trabajo</h1> - <h3>(years)</h3>
            </li>
            <p id="letraBlancoOscuro">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita pariatur minus quaerat. Ab facilis recusandae excepturi quia. Dolor ex dolore pariatur iusto architecto nesciunt, obcaecati numquam quaerat placeat aspernatur temporibus!
            </p>
        </ul>

    </div>

</div>